body {
  min-height: 2000px;
  padding-top: 50px;
  font-family: 'Merriweather', serif;
  font-size: 1.6em;
}

body.portfolio {
  min-height: 2000px;
  padding-top: 100px;
}

h1, h2, h3, h4, h5, .btn {
  font-family: 'Montserrat', sans-serif;
}

/* Add some nicer colors and backgrounds */


h2#interaction-design, h2#user-experience {
  padding-top: 60px;
}
